*.pyc
# Node modules
lighthousemobile/.idea
web/node_modules/
web/stats.json
html/node_modules/
web/dist/
web/npm-debug.log
web/debug.log
.project
.pydevproject
.idea
nbproject
assets/*
lighthousemobile/web/node_modules/
lighthousemobile/web/.idea/
