<div class="login-container">
  <div class="col-md-12 col-sm-12 pull-right full-height login-form-center">
    <div class="login-form-wrap">
      <div class="login-form">
        <div class="logo-wraper">
        </div>
        <form (ngSubmit)="login()" #loginForm="ngForm" autocomplete="off">
          <label>Username</label>
          <input type="text" name="username" [(ngModel)]="loginModel.username" required title="Username"/>
          <label>Password</label>
          <input type="Password" name="password" required [(ngModel)]="loginModel.password" title="Password"/>

          <div class="row">
            <div class="col-md-12 mTop15">
              <button class="btn-login pull-right" [disabled]="!loginForm.form.valid">Login</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
